In [17]:
import pandas as pd

df1 = pd.read_csv('../data/cm_features_v1.0_Y2018.csv')
df2 = pd.read_csv('../data/cm_features_v2.4_Y2018.csv')
df1 = df1[['month_id', 'country_id', 'gw_statename', 'ged_sb']]
df2 = df2[['month_id', 'country_id', 'ged_sb']]

In [18]:
# Merge DataFrames on 'month_id' and 'country_id' with outer join to handle missing rows
merged_df = pd.merge(df1, df2, on=['month_id', 'country_id'], how='outer', suffixes=('_df1', '_df2'))

# Identify rows where 'ged_sb' values differ or are missing in one DataFrame
differences_df = merged_df[merged_df['ged_sb_df1'] != merged_df['ged_sb_df2']]

# Display the result
differences_df

,month_id,country_id,gw_statename,ged_sb_df1,ged_sb_df2
372,123,145,Philippines,132.0,136.0
696,125,223,India,93.0,160.0
939,127,145,Philippines,24.0,30.0
1809,133,162,Mozambique,0.0,39.0
2524,138,162,Mozambique,1000.0,961.0
...,...,...,...,...,...
54011,450,124,Yemen (Arab Republic of Yemen),91.0,129.0
54135,451,70,Central African Republic,4.0,21.0
54180,451,124,Yemen (Arab Republic of Yemen),112.0,118.0
54687,454,124,Yemen (Arab Republic of Yemen),175.0,162.0
54699,454,136,Pakistan,50.0,56.0

In [19]:
# amount of country_ids in df1 vs df2
print(len(df1['country_id'].unique()))
print(len(df2['country_id'].unique()))

# print difference in country_ids
print(set(df1['country_id'].unique()) - set(df2['country_id'].unique()))

177
177
set()