In [1]:
import pandas as pd

# read file features/cm/cm_features.parquet
cm_features = pd.read_parquet('features/cm/cm_features.parquet')
cm_features.head()

,month_id,country_id,gleditsch_ward,ged_sb,ged_ns,ged_os,acled_sb,acled_sb_count,acled_os,ged_sb_tsum_24,...,ind_efficiency_t48,irr_agr_efficiency_t48,services_efficiency_t48,general_efficiency_t48,water_stress_t48,renewable_internal_pcap_t48,renewable_pcap_t48,splag_1_decay_ged_sb_5,splag_1_decay_ged_os_5,splag_1_decay_ged_ns_5
0,467,1,110,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,43.064647,0.083464,24.073546,1.708305,3.298402,315701.223506,355000.130996,0.000129,1.029498,1.117986
1,467,2,115,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.277652,0.927863,54.902676,7.305286,3.950609,178935.173052,178935.173052,0.000003,0.057337,1.000001
2,467,3,52,0.0,0.0,0.0,0.0,0.0,14.0,0.0,...,81.939324,1.896849,56.824162,62.878594,20.326481,2818.669280,2818.669280,0.000000,0.000000,0.000000
3,467,4,101,0.0,0.0,8.0,20.0,6.0,55.0,0.0,...,171.842331,0.434597,37.074382,14.740223,7.540367,26794.955811,44103.498696,1.000003,1.028869,1.012403
4,467,5,990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [2]:
# save to data/cm_features.csv
cm_features.to_csv('data/cm_features.csv', index=False)
# read 
cm_features = pd.read_csv('data/cm_features.csv')
cm_features.head()

,month_id,country_id,gleditsch_ward,ged_sb,ged_ns,ged_os,acled_sb,acled_sb_count,acled_os,ged_sb_tsum_24,...,ind_efficiency_t48,irr_agr_efficiency_t48,services_efficiency_t48,general_efficiency_t48,water_stress_t48,renewable_internal_pcap_t48,renewable_pcap_t48,splag_1_decay_ged_sb_5,splag_1_decay_ged_os_5,splag_1_decay_ged_ns_5
0,467,1,110,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,43.064647,0.083464,24.073546,1.708305,3.298402,315701.223506,355000.130996,0.000129,1.029498,1.117986
1,467,2,115,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.277652,0.927863,54.902676,7.305286,3.950609,178935.173052,178935.173052,0.000003,0.057337,1.000001
2,467,3,52,0.0,0.0,0.0,0.0,0.0,14.0,0.0,...,81.939324,1.896849,56.824162,62.878594,20.326481,2818.669280,2818.669280,0.000000,0.000000,0.000000
3,467,4,101,0.0,0.0,8.0,20.0,6.0,55.0,0.0,...,171.842331,0.434597,37.074382,14.740223,7.540367,26794.955811,44103.498696,1.000003,1.028869,1.012403
4,467,5,990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000